In [1]:
print('Hello world')

Hello world

In [36]:
a = [1, 2, 3]

In [37]:
b = a

In [38]:
a.append(4)

In [39]:
b

[1, 2, 3, 4]

In [40]:
data = [1, 2, 3, 4]

In [44]:
def append_element(some_list, element):
    some_list.append(element)

In [45]:
append_element(data, 4)

In [43]:
data

[1, 2, 3, 4]

In [46]:
a = 4, 5

In [47]:
b = 2

In [51]:
a_list = ['foo', 2, [4, 5]]

In [52]:
a_list[2] = (3, 4)

In [53]:
a_list

['foo', 2, (3, 4)]

In [54]:
a_tuple = (3, 5, (4, 5))

In [55]:
a_tuple[1] = 'four' #튜플, 문자열은 객체나 내용을 못바꿈

TypeError: 'tuple' object does not support item assignment

In [56]:
ival = 12312

In [57]:
ival ** 2

151585344

In [58]:
fval = 7.232

In [59]:
fval2 = 5.7e-5

In [60]:
3 / 2

1.5

In [61]:
3 // 2

1

In [64]:
c = """
여러 줄에 걸친 문자열은
따옴표 세 개로 둘러싼다.
"""

In [65]:
c.count('\n')

3

In [66]:
#파이썬의 문자열은 변경 불가능하다.

In [67]:
a = 'this is a string'

In [68]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [69]:
#이 작업 이후 변수a는 변경되지 않는다.

In [70]:
a

'this is a string'

In [71]:
#많은 파이썬 객체는 str함수를 이용해서 문자열로 변환할 수 있다.

In [72]:
a = 5.6

In [73]:
s = str(a)

In [77]:
print(s)

5.6

In [78]:
s = 'python'

In [79]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [80]:
s[:3]

'pyt'

In [81]:
#슬라이싱 s[:3]은 0부터 2까지 자리 문자

In [82]:
#역슬래시는 \와 같다

In [83]:
s = '12\\34'

In [84]:
print(s)

12\34

In [85]:
s = r'this\has\no\special\characters'

In [86]:
s

'this\\has\\no\\special\\characters'

In [88]:
s = r'use\users\window\contents'

In [89]:
s

'use\\users\\window\\contents'

a = 'this is the first half '

ㅎㅎ

In 클릭하고 m누르니까 이렇게 만들어짐

In [103]:
val = "espano1"

In [104]:
val

'espano1'

In [105]:
val_utf8 = val.encode('utf-8')

In [106]:
val_utf8

b'espano1'

In [107]:
type(val_utf8)

bytes

In [108]:
val_utf8.decode('utf-8')

'espano1'

In [110]:
True and True

True

In [111]:
False or True

True

In [112]:
a = None

In [113]:
a is None

True

In [114]:
b = 5

In [115]:
b is not None

True

날짜와 시간

In [116]:
from datetime import datetime, date, time

In [117]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [118]:
dt.day

29

In [119]:
dt.minute

30

In [120]:
dt.date()

datetime.date(2011, 10, 29)

In [122]:
dt.time()

datetime.time(20, 30, 21)

In [127]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [134]:
if x < 0:
    print('It is negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

In [137]:
4>3>2>1

True

In [139]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

In [140]:
total

12

In [142]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [146]:
total_until_5

13

In [147]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [150]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [141]:
total

12

In [151]:
total

504

In [152]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [153]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [154]:
exit()